.root {
  margin: 0;
  padding: 0;
  color: black;
}

.root.isBackLine {
  text-align: center;
  
  &::after {
    content: "";
    display: block;
    width: 30%;
    position: relative;
    border-bottom: 1px solid #aaa;
    margin: 15px auto 0;
  }
}

.headingLevel1 {
  margin-bottom: 0.5em;
  color: #000000d9;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.23;
}

.headingLevel2 {
  margin-bottom: 0.5em;
  color: #000000d9;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.35;
}

.headingLevel3 {
  margin-bottom: 0.5em;
  color: #000000d9;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.35;
}

.headingLevel4 {
  margin-bottom: 0.5em;
  color: #000000d9;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
}

.headingLevel5 {
  margin-bottom: 0.5em;
  color: #000000d9;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  background: #f7f7f7;
}

.isBlack {
  color: black;
}
